<a href="https://colab.research.google.com/github/Mel-iza/Weni_XP_IA/blob/main/notebook/weni_xp_hands_on_ia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 0. Explora√ß√£o do problema

### 1. Instala√ß√£o das bibliotecas e importa√ß√£o dos dados

Instala√ß√£o das bibliotecas que vamos utilizar:

In [ ]:
# Execute essa c√©lula para instala√ß√£o das bibliotecas necess√°rias

!pip install scikit-learn==1.2.1
!pip install numpy==1.24.2
!pip install scipy==1.2.1 
!pip install pandas==1.5.3
!pip install Unidecode==1.3.6
!pip install nltk==3.8.1
!pip install spacy==3.5.0
!python -m spacy download pt_core_news_sm

Importa√ß√£o das bibliotecas e m√≥dulos

In [10]:
# Execute essa c√©lula para importarmos as bibliotecas

# Manipula√ß√£o de dados
import pandas as pd
import numpy as np
import unicodedata
import unidecode
import re


# Machine Learning, vetoriza√ß√£o e m√©tricas
import sklearn
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegressionCV


# Tratamento e manipula√ß√£o de texto
import nltk
import spacy
import pt_core_news_sm
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer

----------------------

Importando os dados

In [ ]:
# Seu c√≥digo aqui
# Importe o conjunto de dados

data = pd.read_csv('')
data

In [31]:
#@title resultado esperado:

data =  pd.read_csv('/content/train_dataset_1.csv')
data

                                                   text    label
0     Ol√°, muito prazer! Sou o seu assistente virtua...  chatbot
1     Fechado, vamos fazer assim. Voc√™ passa os dado...  chatbot
2     Pra adiantar, vou precisar que voc√™ me fale qu...  chatbot
3     Humm eu n√£o entendi, desculpa.\n\nDigite 1 par...  chatbot
4     Pera s√≥ um instante que vou checar aqui se enc...  chatbot
...                                                 ...      ...
1537                                                 42   humano
1538                                              start   humano
1539                             Quais s√£o os riscos? üò∑   humano
1540                                                Nao   humano
1541                                                 Ok   humano

[1542 rows x 2 columns]

----------------

### 2. Conhecer e pr√©-processar os dados

Conferindo algumas informa√ß√µes b√°sicas sobre o conjunto de dados

In [37]:
# Seu c√≥digo aqui
# Mostre as informa√ß√µes b√°sicas do conjunto de dados

In [34]:
#@title resultado esperado:


print('linhas e colunas: ', data.shape)
print('\n')
data.info()

linhas e colunas:  (1542, 2)


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1542 entries, 0 to 1541
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    1542 non-null   object
 1   label   1542 non-null   object
dtypes: object(2)
memory usage: 24.2+ KB

Conferindo algumas linhas do conjunto de dados:
- primeiras linhas
- linhas escolhidas aleatoriament

In [ ]:
# Seu c√≥digo aqui
# Mostre as primeiras linhas do conjunto de dados

In [36]:
#@title resultado esperado:

data.sample(10)

                             text   label
1184  Voltou j√° com esse sintoma.  humano
727                     Boa noite  humano
669                           Sim  humano
1252                        start  humano
1302                           Ok  humano
1310    Ser√° que por aqui resolve  humano
710                      Somente*  humano
604                            Ok  humano
691                   ele atrasso  humano
1487                    Boa noite  humano

In [ ]:
# seu c√≥digo aqui

---------------

T√©cnicas de processamento de texto para que a m√°quina consiga 'traduzir' para n√∫meros e compreender. <br>

* `tokeniza√ß√£o`
* `padroniza√ß√£o`
* `remove√ß√£o stop-words (a, e, de, o, etc)`

### 3. Vamos modelar? Cria√ß√£o de um modelo de classifica√ß√£o

### 4. Como saber se nosso modelo foi bem? Interpreta√ß√£o de m√©tricas.

###. 5. Refer√™ncias

* [Documenta√ß√£o Scikit Learn](https://scikit-learn.org/stable/)